:root {
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
.app {
  width: 850px;
  margin: 0 auto;
  background: #868588;
  padding: 5px 15px;
}
h1 {
  font-weight: 400;
  
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid rgb(46, 45, 45);
}
.navBar a {
  margin: auto 0;
  color: #ffcd8f;
  cursor: pointer;
  transition: all .5s;
}
.navBar a:hover {
  font-size: 120%;
  color: #ff991cee;
}
.blogsHeading {
  color: antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 4px red;
}
.blogDetails {
  padding: 10px;
  margin: 10px 0;
  transition: all 1s;
  cursor: pointer;
}
.blogDetails:hover {
  background-color: rgb(44, 42, 42);
  border-radius: 20px;
  font-size: 110%;
}
.blogsData {
  text-decoration: none;
  color: white;
}
.fullBlog p {
  font-size: 1.3rem;
  font-weight: 500;
}
.createForm { 
  /* text-align: center; */
  width: fit-content;
  padding: 30px 40px;
  border-radius: 10px;
  margin: 25px auto;
  background-color:  #bebcc5;
  box-shadow: 2px 4px 4px #e4e47a;
}
.createForm h2 {
  color: #03351c;
  text-align: center;
}
.createForm label {
  display: block;
  font-size: 1.5rem;
}
.createInput {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
}
.createFormButton {
  display: block;
  margin: 10px 0;
  width: 250;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.3rem;
  border: none;

}
.createFormButton:hover {
  background: #a48ecf;
  transition: color, 2s;
}